/*--------------------------------------------------------------
# Top Scanner and Website Description Section
--------------------------------------------------------------*/

.top__scanner__section {
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 100%;
  height: 727px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


.top__scanner__content {
  margin-top: 130px;
}

.top__logo__description {
  display: block;
  width: 100%;
  height: 150px;
}

.home__logo__box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px auto 0px auto;
  width: 170px;
  height: 80px;
  border-radius: 18px;
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(70, 2, 2, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.logo-text {
  font-size: 25px;
  font-weight: 900;
  letter-spacing: 1px;
  color: rgb(202, 49, 49);
}

.navigation__box {
  width: 100%;
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  list-style-type: none;
  gap: 20px;
  box-sizing: border-box;
  text-decoration: none;

}
.website__title {
  display: block;
  margin: 10px auto;
  text-align: center;
  color: rgb(202, 49, 49);
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 11px;
  font-weight: 500;
  font-family: 'inter';
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: black;
  background-color: #fff;
  border: none;
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
  padding: 8px 12px;
}

.button:hover {
  background-color: rgb(202, 49, 49);
  box-shadow: 0px 15px 20px rgba(129, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-3px);
}


/* Scanner and Image */

.scanner__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 10px auto;
}

.scanner__image {
  width: 180px;
  height: 181px;
}

.top__bottom__title {
  color: rgb(202, 49, 49);
  margin: 15px auto;
  text-decoration: underline;
}

.top__bottom__title:hover {
  opacity: 0.8;
}

/* Tap the Button and Scan Text */

.tap__button {
  box-sizing: border-box;
  color: rgb(202, 49, 49);
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  margin-top: 25px;
  line-height: 25px;

}

.tap_button_special-font {
  font-size: 16px;
  font-weight: 400;
  text-align: center;


}









/* Small Devices */
@media (min-width: 320px) {
  .container {
    max-width: 320px;
  }
}

/* Medium Devices */
@media (min-width: 375px) {
  .container {
    max-width: 375px;
  }
}

/* Large Devices */
@media (min-width: 425px) {
  .container {
    max-width: 425px;
  }
}

/* Extra Large Devices */
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

/* 2xL Devices */
@media (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}











