.top__profile__image__box {
  display: block;
  max-width: 1024px;
  max-height: 409.59px;
}

.sticky__total__price {
  position: sticky;
  width: 100%;
  height: 100%;
  bottom: 0;
}

.top__profile__images {
  display: block;
  width: 100%;
  height: 100%;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.main__content__box {
  display: block;
  width: 100%;
  height: auto;
  padding: 10px;
  padding: 10px;
}

.profile__button__box {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
}

.profile__titles {
  display: inline-block;
  font-size: 20px;
}

.ankesa__button {
  padding: 1px 5px 1px 5px;
  margin-right: 5px;
  outline-style: solid;
  outline-width: 0.1px;
  outline-color: rgb(197, 197, 197);
  border-radius: 10px;
  border: none;
  background-color: rgb(230, 230, 230);
  cursor: pointer;
  font-size: 13px;
}

.main__content__menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: auto;
  max-width: 1024px;
  height: auto;
  list-style-type: none;
  gap: 7px;
  border:  1px solid;
  height: 90px;
  margin-top: 28px;
  background-color: white;
  border-radius: 10px;
}

/* Location, Phone and Wifi Box and Styling */

.location__wifi__phone__box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  width: 100%;
  height: 17px;
  column-gap: 5px;
}
.svg__text__box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: row;
  width: auto;
  height: 17px;
  cursor: pointer;
  line-height: 17px;
}
.svg__mod {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
.location__wifi__phone__text {
  display: block;
  box-sizing: border-box;
  font-family: 'Inter'Arial, Helvetica, sans-serif;
  color: rgb(152, 152, 152);
  font-size: 13px;
  text-size-adjust: 100%;
}

/* End */

/* Main Product Contents */

.menu__category {
  display: block;
  width: 100%;
  height: 100%;
  padding: 10px 10px 10px 10px;
}

.category__content__title__box {
  display: flex;
  width: 100%;
  height: 24px;
  margin-bottom: 30px;
}

.category__title {
  box-sizing: border-box;
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  height: 100%;
}

.line__only {
  display: block;
  width: 100%;
  height: 1px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-top: solid;
  border-width: 1px;
  border-color: rgb(220, 220, 220);
}
.products__box {
  display: flex;
  justify-content: start;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  list-style-type: none;
  row-gap: 25px;
  overflow: auto;
}

.product__image__box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
}

.product__id {
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-template-rows: 1fr;
  width: 324px;
  height: 80px;
  justify-items: center;
  align-items: center;
  padding-left: 10px;
}

.product__img__mod {
  display: block;
  width: 100%;
  border-radius: 15px;
  cursor: pointer;
}

.product__title_content__box {
  display: flex;
  justify-content: start;
  padding-left: 10px;
  flex-direction: column;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  

}

.product__title__text {
  display: block;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: -0.24px;
  color: rgb(80, 80, 80);
  text-size-adjust: 100%;
  cursor: pointer;
}

.product__description__text {
  display: -webkit-box;
  box-sizing: border-box;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.41px;
  color: rgb(150, 150, 150);
  text-size-adjust: 100%;

}

.symbol__price__qty {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; 
  height: 100%;
  align-items: center;
}

.product__price__symbol {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  color: rgb(0, 0, 0);
  outline: rgb(0, 0, 0);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  font-family: 'Inter';
  justify-content: flex-start;
  flex-direction: row;
  gap: 5px;
  padding-top: 2px;
  text-size-adjust: 100%;
  height: 100%;
}


.qty__button {
  width: 90px;
  height: 25px;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  grid-template-rows: 1fr;
  align-items: center;
  justify-items: center;
  border-radius: 5px;
  background-color:rgb(247, 144, 108);
}

.nav__icon__mod  {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 25px;
  background-color: transparent;
  border: none;
  padding: 6px;
  cursor: pointer;
  text-align: center;
  outline: none;
}
.qty-input {
  font-weight: 500;
  font-size: 14px;
  padding: 6px 2px;
  text-align: center;
}


.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 100%;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0;
  color: #000000;
  cursor: pointer;
  background-color:rgb(247, 144, 108);
}



.top-cart-section {
  display: flex;
  align-items: center;
  width: 100%;
  height: 52px;
  max-width: 1024px;
  justify-content: center;
  background-color: rgba(241,90,35,255);
  position: fixed;
  bottom: 0;
  border-top: solid;
  border-top-width: 0.1px;
  border-top-color: #d9d9d9;
  padding: 0px 30px;
}

.check-box {
  width: 80px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7px;
}

.check-mod {
  height: 20px;
}

.all-font {
  font-size: 13px;
}

.button-box {
  width: 150px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.share-button {
  padding: 6px 15px;
  border-radius: 50px;
  border: none;
  outline: none;
  background-color: transparent;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

















/* Extra Small Devices */
@media (min-width: 320px) {
  .cons {
    max-width: 320px

  }

}

/* Small Devices */
@media (min-width: 375px) {
  .product__id {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 80px;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    max-width: 375px
  }
  
}

/* Medium Devices */
@media (min-width: 425px) {
  .product__id {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: 80px;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    max-width: 425px
  }
  
}

/* Large Devices */
@media (min-width: 768px) {
  .product__id {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
    width: 50%;
    height: 80px;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    max-width: 768px
  }
  
}

/* Extra Large Devices */
@media (min-width: 1024px) {
  .product__id {
    display: grid;
    grid-template-columns: 75px 1fr;
    grid-template-rows: 1fr;
    width: 33%;
    height: 80px;
    justify-items: center;
    align-items: center;
    padding-left: 10px;
    max-width: 768px
  }
  
}

/* 2xL Devices */
@media (min-width: 1536px) {
  
}


